<div class="button-showcase u-background-color-black" id="showcase">
  <div class="container">
    <div class="h2 u-color-hollywood-cerise">Boom! That's It!</div>
    <p>Comes with 5 states &amp; 3 sizes</p>
    <div class="button-showcase__inner">
      <div class="button-showcase__col u-text-align-center">
        <div class="button-showcase__label">Idle</div>
        <button data-button-state="idle" class="js-showcase-button plugin-button plugin-button--basic showcase-button showcase-button--small u-margin-top">Button</button>
        <button data-button-state="idle" class="js-showcase-button plugin-button plugin-button--basic showcase-button u-margin-top-2xlarge">Button</button>
        <button data-button-state="idle" class="js-showcase-button plugin-button plugin-button--basic showcase-button showcase-button--large u-margin-top-2xlarge">Button</button>
      </div>
      <div class="button-showcase__col u-text-align-center">
        <div class="button-showcase__label">Hover</div>
        <button data-button-state="hover" class="js-showcase-button plugin-button plugin-button--basic showcase-button showcase-button--small u-margin-top">Button</button>
        <button data-button-state="hover" class="js-showcase-button plugin-button plugin-button--basic showcase-button u-margin-top-2xlarge">Button</button>
        <button data-button-state="hover" class="js-showcase-button plugin-button plugin-button--basic showcase-button showcase-button--large u-margin-top-2xlarge">Button</button>
      </div>
      <div class="button-showcase__col u-text-align-center">
        <div class="button-showcase__label">Focus</div>
        <button data-button-state="focus" class="js-showcase-button plugin-button plugin-button--basic showcase-button showcase-button--small u-margin-top">Button</button>
        <button data-button-state="focus" class="js-showcase-button plugin-button plugin-button--basic showcase-button u-margin-top-2xlarge">Button</button>
        <button data-button-state="focus" class="js-showcase-button plugin-button plugin-button--basic showcase-button showcase-button--large u-margin-top-2xlarge">Button</button>
      </div>
      <div class="button-showcase__col u-text-align-center">
        <div class="button-showcase__label">Active</div>
        <button data-button-state="active" class="js-showcase-button plugin-button plugin-button--basic showcase-button showcase-button--small u-margin-top">Button</button>
        <button data-button-state="active" class="js-showcase-button plugin-button plugin-button--basic showcase-button u-margin-top-2xlarge">Button</button>
        <button data-button-state="active" class="js-showcase-button plugin-button plugin-button--basic showcase-button showcase-button--large u-margin-top-2xlarge">Button</button>
      </div>
      <div class="button-showcase__col u-text-align-center">
        <div class="button-showcase__label">Disabled</div>
        <button data-button-state="disabled" class="js-showcase-button plugin-button plugin-button--basic showcase-button showcase-button--small u-margin-top">Button</button>
        <button data-button-state="disabled" class="js-showcase-button plugin-button plugin-button--basic showcase-button u-margin-top-2xlarge">Button</button>
        <button data-button-state="disabled" class="js-showcase-button plugin-button plugin-button--basic showcase-button showcase-button--large u-margin-top-2xlarge">Button</button>
      </div>
    </div>
  </div>
</div>