<div class="button-showcase u-background-color-black" id="showcase" hidden>
  <div class="button-showcase__container">
    <div class="h2 u-color-hollywood-cerise">Here is the overview</div>
    <p>Comes with 5 states &amp; 3 sizes</p>
    <div class="button-showcase__inner">
        <div class="button-showcase__label">Idle</div>
        <div class="button-showcase__label">Hover</div>
        <div class="button-showcase__label">Focus</div>
        <div class="button-showcase__label">Active</div>
        <div class="button-showcase__label">Disabled</div>
        <div data-button-state="idle" class="js-showcase-button plugin-button plugin-button--basic showcase-button showcase-button--small u-align-self-center u-margin-top">Button</div>
        <div data-button-state="hover" class="js-showcase-button plugin-button plugin-button--basic showcase-button showcase-button--small u-align-self-center u-margin-top">Button</div>
        <div data-button-state="focus" class="js-showcase-button plugin-button plugin-button--basic showcase-button showcase-button--small u-align-self-center u-margin-top">Button</div>
        <div data-button-state="active" class="js-showcase-button plugin-button plugin-button--basic showcase-button showcase-button--small u-align-self-center u-margin-top">Button</div>
        <div data-button-state="disabled" class="js-showcase-button plugin-button plugin-button--basic showcase-button showcase-button--small u-align-self-center u-margin-top">Button</div>
        <div data-button-state="idle" class="js-showcase-button plugin-button plugin-button--basic showcase-button u-align-self-center u-margin-top-2xlarge">Button</div>
        <div data-button-state="hover" class="js-showcase-button plugin-button plugin-button--basic showcase-button u-align-self-center u-margin-top-2xlarge">Button</div>
        <div data-button-state="focus" class="js-showcase-button plugin-button plugin-button--basic showcase-button u-align-self-center u-margin-top-2xlarge">Button</div>
        <div data-button-state="active" class="js-showcase-button plugin-button plugin-button--basic showcase-button u-align-self-center u-margin-top-2xlarge">Button</div>
        <div data-button-state="disabled" class="js-showcase-button plugin-button plugin-button--basic showcase-button u-align-self-center u-margin-top-2xlarge">Button</div>
        <div data-button-state="idle" class="js-showcase-button plugin-button plugin-button--basic showcase-button showcase-button--large u-align-self-center u-margin-top-2xlarge">Button</div>
        <div data-button-state="hover" class="js-showcase-button plugin-button plugin-button--basic showcase-button showcase-button--large u-align-self-center u-margin-top-2xlarge">Button</div>
        <div data-button-state="focus" class="js-showcase-button plugin-button plugin-button--basic showcase-button showcase-button--large u-align-self-center u-margin-top-2xlarge">Button</div>
        <div data-button-state="active" class="js-showcase-button plugin-button plugin-button--basic showcase-button showcase-button--large u-align-self-center u-margin-top-2xlarge">Button</div>
        <div data-button-state="disabled" class="js-showcase-button plugin-button plugin-button--basic showcase-button showcase-button--large u-align-self-center u-margin-top-2xlarge">Button</div>
    </div>
  </div>
</div>
