<section class="u-padding-top-xlarge">
  <div class="container">
    <div class="row">
      <div class="col col--lg-6">
        <div class="h4 u-margin-bottom-0 emphasized">More Styles Are on Their Way</div>
      </div>
    </div>
    <div class="row u-margin-top-small">
      <div class="col col--lg-4 u-margin-top-medium">
        <img class="u-width-100%" src="img/upcoming-button-1.png" alt="upcoming button">
      </div>
      <div class="col col--lg-4 u-margin-top-medium">
        <img class="u-width-100%" src="img/upcoming-button-2.png" alt="upcoming button">
      </div>
      <div class="col col--lg-4 u-margin-top-medium">
        <img class="u-width-100%" src="img/upcoming-button-3.png" alt="upcoming button">
      </div>
      <div class="col col--lg-4 u-margin-top-medium">
        <img class="u-width-100%" src="img/upcoming-button-4.png" alt="upcoming button">
      </div>
      <div class="col col--lg-4 u-margin-top-medium">
        <img class="u-width-100%" src="img/upcoming-button-5.png" alt="upcoming button">
      </div>
    </div>
  </div>
</section>