<footer class="u-padding-ends">
  <div class="container u-text-align-center">
    <div class="">
      Made by <a class="link" href="https://twitter.com/bugraio">@bugraio</a>
      &amp;
      <a class="link" href="https://twitter.com/akemalakcay">@akemalakcay</a>
    </div>
  </div>
</footer>
