// Typography

@mixin heading-styles(
  $color: $g-headings-color,
  $font-family: $g-headings-font-family,
  $font-weight: $g-headings-font-weight,
) {
  color: $color;
  font-family: $font-family;
  font-weight: $font-weight;
}
