{% extends "../layout.html.twig" %}

{% block body %}
  {% include "@components/header/header.html.twig" %}
  {% include "@components/hero/hero.html.twig" %}
  {% include "@objects/button-showcase/button-showcase.html.twig" %}
  {% include "@components/tutorial/tutorial.html.twig" %}
  <div class="features">
    {% include "@objects/break-it-down.html.twig" %}
    {% include "@objects/styles.html.twig" %}
    {% include "@objects/more-styles.html.twig" %}
  </div>
{% endblock %}
