<div class="tutorial tutorial--figures-1" id="tutorial">
  <div class="container tutorial__container">
    <div class="row">
      <div class="col col--lg-4">
        <div class="tutorial__content-wrapper">
          <div class="tutorial__content-item js-tutorial-s1">
            <div class="tutorial__no emphasized">01</div>
            <div class="tutorial__title u-margin-top-small">Set your colors &amp; pick a style</div>
            <blockquote class="tutorial__blockquote u-margin-top-small">Button Buddy offers 8 carefully-made button styles for your projects. And more styles are in the making!</blockquote>
          </div>
          <div class="tutorial__content-item js-tutorial-s2">
            <div class="tutorial__no emphasized">02</div>
            <div class="tutorial__title u-margin-top-small">Make them your own</div>
            <blockquote class="tutorial__blockquote u-margin-top-small">Just edit the base component, all the sizes and states will follow!</blockquote>
          </div>
          <div class="tutorial__content-item js-tutorial-s3">
            <div class="tutorial__no emphasized">03</div>
            <div class="tutorial__title u-margin-top-small">Prototype like a pro!</div>
            <blockquote class="tutorial__blockquote u-margin-top-small">Get the Button Buddy and start taking your prototypes to the next level!</blockquote>
          </div>
        </div>
      </div>
      <div class="col col--lg-7 col--offset-lg-1 u-margin-top-large@md-down">
        <div class="tutorial__video">
          <video class="tutorial__frame js-tutorial-video" autoplay muted loop>
            <source src="img/v1.webm" type="video/webm">
            <source src="img/v1.mp4" type="video/mp4">
          </video>
          <video class="tutorial__frame js-tutorial-video" autoplay muted loop hidden>
            <source src="img/v2.webm" type="video/webm">
            <source src="img/v2.mp4" type="video/mp4">
          </video>
          <video class="tutorial__frame js-tutorial-video" autoplay muted loop hidden>
            <source src="img/v3.webm" type="video/webm">
            <source src="img/v3.mp4" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
  </div>
</div>
