/* purgecss start ignore */

.tutorial {
  display: flex;
  min-height: 100vh;
  align-items: center;

  @include media-breakpoint-down(md) {
    padding-top: pad(large);
  }

  &::before {
    position: absolute;
    bottom: 5vh;
    left: 0;
    width: px-to-rem(126);
    height: px-to-rem(256);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    @include media-breakpoint-up(lg) {
      content: '';
    }

    @include media-breakpoint-down(xl) {
      width: px-to-rem(90);
      height: px-to-rem(180);
    }
  }

  &::after {
    position: absolute;
    top: 5vh;
    right: gap(medium);
    width: px-to-rem(64);
    height: px-to-rem(64);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    @include media-breakpoint-up(lg) {
      content: '';
    }
  }

  &__container {
    flex-grow: 1;
  }

  &__no {
    color: $color-white;
    font-size: px-to-rem(64);
    font-weight: 700;
    line-height: px-to-rem(72);
  }

  &__title {
    color: $color-white;
    font-size: px-to-rem(40);
    font-weight: 700;
    line-height: px-to-rem(48);
  }

  &__blockquote {
    position: relative;
    padding: 0;
    padding-left: pad(xsmall);
    margin: 0;
    color: $color-wild-blue-yonder;
    font-size: px-to-rem(18px);
    line-height: px-to-rem(28px);

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: px-to-rem(4);
      height: calc(100% - #{px-to-rem(16)});
      background-color: $color-hollywood-cerise;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: px-to-rem(50);
      border-top-left-radius: 0;
      border-top-right-radius: px-to-rem(50);
      content: '';
      transform: translateY(px-to-rem(8));
    }
  }

  &__video {
    position: relative;
    overflow: hidden;
    background-color: $color-vulcan;
    border-radius: px-to-rem(8);

    &::before {
      display: block;
      padding-top: 100% * (9 / 16);
      content: '';
    }
  }

  &__frame {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + #{px-to-rem(8)});
    height: calc(100% + #{px-to-rem(8)});
    transform: translate(px-to-rem(-4), px-to-rem(-4));
  }

  &__content-wrapper {
    position: relative;

    @include media-breakpoint-down(md) {
      min-height: px-to-rem(280);
    }
  }

  &__content-item {
    position: absolute;
    top: 0;
    left: 0;
  }

  &--figures-1 {
    &::before {
      background-image: url('../img/tutorial-1-left-figure.svg');
    }

    &::after {
      background-image: url('../img/tutorial-1-right-figure.svg');
    }
  }

  &--figures-2 {
    &::before {
      background-image: url('../img/tutorial-2-left-figure.svg');
    }

    &::after {
      background-image: url('../img/tutorial-2-right-figure.svg');
    }
  }

  &--figures-3 {
    &::before {
      background-image: url('../img/tutorial-3-left-figure.svg');
    }

    &::after {
      background-image: url('../img/tutorial-3-right-figure.svg');
    }
  }
}

/* purgecss start ignore */
