<header class="header">
  <div class="container">
    <ul class="header__menu">
      <li class="header__menu-item">
        <a href="./" class="header__menu-link">
          <img src="img/logo.png" alt="button buddy">
        </a>
      </li>
      <li class="header__menu-item">
        <a href="mailto:getbuttonbuddy@gmail.com" class="header__menu-link">
          Contact
        </a>
      </li>
    </ul>
  </div>
</header>
