<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset=utf-8>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name=viewport content="width=device-width, initial-scale=1">
    {% block meta %}
    <title>Button Buddy | Figma Plugin</title>
    <meta name="title" content="Button Buddy | Figma Plugin">
    <meta name="description" content="Button Buddy is a Figma plugin that generates dev-ready button components. All you need to do is set your colors and pick one style from pre-defined styles!">
    <!-- 
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://buttonbuddy.app/">
    <meta property="og:title" content="Button Buddy | Figma Plugin">
    <meta property="og:description" content="Button Buddy is a Figma plugin that generates dev-ready button components. All you need to do is set your colors and pick one style from pre-defined styles!">
    <meta property="og:image" content="">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://buttonbuddy.app/">
    <meta property="twitter:title" content="Button Buddy | Figma Plugin">
    <meta property="twitter:description" content="Button Buddy is a Figma plugin that generates dev-ready button components. All you need to do is set your colors and pick one style from pre-defined styles!">
    <meta property="twitter:image" content=""> -->

      
    {% endblock %}
    <link rel=stylesheet href="css/app{% if is_production() %}.min{% endif %}.css">
    {% block headerStylesheets %}{% endblock %}
    {% block headerJavascripts %}{% endblock %}
  </head>
  <body>

  {% if svgSprite %}
    <div hidden>
      {{ svgSprite|raw }}
    </div>
  {% endif %}

  {% block body %}{% endblock %}

  <!-- Javascript Files -->
  {% block footerVendorJavascripts %}{% endblock %}
  <script src="js/app{{ is_production() ? '.min'}}.js"></script>
  {% block footerJavascripts %}{% endblock %}
  </body>
</html>
