.header {
  $z-index: 1;
  position: absolute;
  z-index: $z-index;
  width: 100%;

  &__menu {
    @include list-unstyled($margin-bottom: 0, $margin-top: 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: pad(small) 0;
  }

  &__menu-link {
    font-family: $g-secondary-font-family;
    font-size: px-to-rem(24px);
    font-weight: 700;
    letter-spacing: px-to-rem(1.5);
    line-height: px-to-rem(32px);
    text-transform: uppercase;

    &:hover {
      text-decoration: none;
    }
  }
}
