<header class="header">
  <div class="container">
    <ul class="header__menu">
      <li class="header__menu-item">
        <a href="./" class="header__menu-link">
          <svg width="224" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 224 96"><defs/><path fill="#fff" d="M105.34 42h7.44c2.72 0 4.66-1.52 4.66-3.72 0-1.5-.94-2.8-2.52-3.5 1.2-.6 1.9-1.7 1.9-3.06 0-2-1.76-3.46-4.3-3.46h-7.18V42zm3.4-8.3v-2.54h2.94c.94 0 1.62.52 1.62 1.26s-.68 1.28-1.62 1.28h-2.94zm0 5.4v-2.76h3.46c1 0 1.72.58 1.72 1.38 0 .8-.72 1.38-1.72 1.38h-3.46zm16.942 3.14c3.76 0 6.38-2.58 6.38-6.26v-7.72h-3.4v7.56c0 1.94-1.24 3.32-2.98 3.32-1.72 0-2.96-1.38-2.96-3.32v-7.56h-3.42v7.72c0 3.68 2.64 6.26 6.38 6.26zm12.296-.24h3.42V31.32h4.16v-3.06h-11.76v3.06h4.18V42zm12.832 0h3.42V31.32h4.16v-3.06h-11.76v3.06h4.18V42zm15.627.24c4.02 0 7.4-3.26 7.4-7.12 0-3.86-3.38-7.1-7.4-7.1-4 0-7.38 3.24-7.38 7.1 0 3.86 3.38 7.12 7.38 7.12zm0-3.1c-2.1 0-3.88-1.84-3.88-4.02 0-2.16 1.78-4 3.88-4 2.1 0 3.88 1.84 3.88 4 0 2.18-1.78 4.02-3.88 4.02zm9.469 2.86h3.42v-8.12l5.98 8.12h3.42V28.26h-3.42v8.12l-5.98-8.12h-3.42V42z"/><path fill="url(#paint0_linear)" d="M105.34 66h7.44c2.72 0 4.66-1.52 4.66-3.72 0-1.5-.94-2.8-2.52-3.5 1.2-.6 1.9-1.7 1.9-3.06 0-2-1.76-3.46-4.3-3.46h-7.18V66zm3.4-8.3v-2.54h2.94c.94 0 1.62.52 1.62 1.26s-.68 1.28-1.62 1.28h-2.94zm0 5.4v-2.76h3.46c1 0 1.72.58 1.72 1.38 0 .8-.72 1.38-1.72 1.38h-3.46zm16.942 3.14c3.76 0 6.38-2.58 6.38-6.26v-7.72h-3.4v7.56c0 1.94-1.24 3.32-2.98 3.32-1.72 0-2.96-1.38-2.96-3.32v-7.56h-3.42v7.72c0 3.68 2.64 6.26 6.38 6.26zm8.916-.24h5.02c4.72 0 8.04-2.86 8.04-6.88s-3.32-6.86-8.04-6.86h-5.02V66zm3.42-3.1v-7.54h2.12c2.34 0 4.02 1.56 4.02 3.76 0 2.2-1.68 3.78-4.02 3.78h-2.12zm11.775 3.1h5.02c4.72 0 8.04-2.86 8.04-6.88s-3.32-6.86-8.04-6.86h-5.02V66zm3.42-3.1v-7.54h2.12c2.34 0 4.02 1.56 4.02 3.76 0 2.2-1.68 3.78-4.02 3.78h-2.12zm15.735 3.1h3.44v-4.74l5.32-9h-3.8l-3.24 5.8-3.1-5.8h-3.94l5.32 9V66z"/><g opacity=".75"><path fill="url(#paint1_linear)" d="M67.429 76H36.183A4.183 4.183 0 0132 71.817V40.183A4.183 4.183 0 0136.183 36h31.246C78.743 36 88 45 88 56s-9.257 20-20.571 20z" opacity=".9"/></g><g opacity=".75"><path fill="url(#paint2_linear)" d="M51.429 60H20.183A4.183 4.183 0 0116 55.817V24.183A4.183 4.183 0 0120.183 20h31.246C62.743 20 72 29 72 40s-9.257 20-20.571 20z" opacity=".9"/></g><defs><linearGradient id="paint0_linear" x1="104" x2="178" y1="60" y2="60" gradientUnits="userSpaceOnUse"><stop offset=".578" stop-color="#F09"/></linearGradient><linearGradient id="paint1_linear" x1="32" x2="88" y1="56" y2="56" gradientUnits="userSpaceOnUse"><stop offset=".578" stop-color="#F09"/></linearGradient><linearGradient id="paint2_linear" x1="16" x2="72" y1="40" y2="40" gradientUnits="userSpaceOnUse"><stop offset=".578" stop-color="#F09"/></linearGradient></defs></svg>
        </a>
      </li>
      <li class="header__menu-item">
        <a href="https://twitter.com/getbuttonbuddy" target="_blank" rel="noopener noreferrer" class="header__menu-link">
          <span class="u-display-none@md-down">Contact</span>
          <svg width="32" class="header__twitter u-margin-left-small" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 32 32"><defs/><path fill="currentColor" d="M30.666 4c-1.276.9-2.69 1.59-4.186 2.04a5.973 5.973 0 00-10.48 4v1.333a14.213 14.213 0 01-12-6.04s-5.334 12 6.666 17.333a15.52 15.52 0 01-9.333 2.667C13.333 32 28 25.333 28 10a6.009 6.009 0 00-.107-1.107A10.293 10.293 0 0030.666 4z"/></svg>
        </a>
      </li>
    </ul>
  </div>
</header>
