<div class="newsletter u-padding-ends-2xlarge">
  <div class="container u-padding-sides-xlarge@lg-up">
    <div class="row">
      <div class="col col--lg-6">
        <div class="newsletter__title">Be <span class="emphasized">first to know</span> <br> as we ship more!</div>
      </div>
      <div class="col col--lg-6 u-margin-top-large@md-down">
          <form action="" id="newsletterForm" class="validate">
            <input placeholder="name@email.com" type="email" value=""name="EMAIL" class="input u-width-100%">
            <div class="u-visually-hidden" aria-hidden="true">
              <input type="checkbox" name="HIDDEN" tabindex="-1">
            </div>
            <button type="submit" tabindex="-1" aria-label="Submit the form" class="u-visually-hidden"></button>
          </form>
          <p class="newsletter__success js-newsletter-message" data-message-type="success" hidden>Subscription success!</p>
          <p class="newsletter__fail js-newsletter-message" data-message-type="fail" hidden>There have been an error</p>
      </div>
    </div>
  </div>
</div>
