.badge {
  display: inline-flex;
  align-items: center;
  padding: pad(xsmall) pad(small);
  background-color: $color-jon;
  border-radius: px-to-rem(50px);
  color: $color-persimmon;
  font-weight: 700;
  letter-spacing: px-to-rem(1.5);
  text-transform: uppercase;
}
