.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: px-to-rem(16) px-to-rem(32);
  border: px-to-rem(2px) solid $color-hollywood-cerise;
  background: transparent;
  border-radius: px-to-rem(50);
  color: $color-white;
  cursor: pointer;
  font-size: px-to-rem(24);
  font-weight: 700;
  line-height: px-to-rem(32);
  text-decoration: none;
  transition: ease-in-out;
  transition-duration: 300ms;
  transition-property: background-color;

  &:hover,
  :active {
    background-color: $color-hollywood-cerise;
  }

  &:disabled {
    opacity: 0.4;
    pointer-events: none;
  }
}
