.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: px-to-rem(12px) px-to-rem(32px);
  border: px-to-rem(4px) solid $color-black;
  background: $color-white;
  border-radius: px-to-rem(50px);
  box-shadow: px-to-rem(-2) px-to-rem(2) 0 $color-white;
  color: $color-black;
  cursor: pointer;
  font-size: px-to-rem(24px);
  font-weight: 600;
  line-height: px-to-rem(32px);
  text-decoration: none;
  transition-duration: 200ms;
  transition-property: box-shadow, transform;

  &:disabled {
    opacity: 0.4;
    pointer-events: none;
  }
}
