.hero {
  $z-index: 0;
  position: relative;
  z-index: $z-index;
  padding-top: px-to-rem(240px);
  padding-bottom: px-to-rem(240px);
  background-size: px-to-rem(20px) px-to-rem(20px);

  &::after {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    background-color: $color-black;

    @include media-breakpoint-up(lg) {
      content: '';
    }
  }

  &__headline {
    color: $color-warning;
    font-family: $g-secondary-font-family;
    font-size: px-to-rem(18px);
    font-weight: 700;
    letter-spacing: px-to-rem(4px);
    line-height: px-to-rem(28px);
    text-transform: uppercase;
  }

  &__container {
    position: relative;
    z-index: $z-index + 1;
  }
}
