<div class="hero">
  <div class="container hero__container">
    <div class="row u-align-items-center">
      <div class="col col--lg-6 u-padding-right-2xlarge@lg-up">
        <div class="hero__headline">Free</div>
        <h1 class="u-color-white u-margin-top-xsmall u-margin-bottom-small">All the button components you need,<span class="emphasized">just 2 steps away.</span></h1>
        <blockquote class="tutorial__blockquote u-margin-top-small u-margin-bottom-large">Just add your colors and pick your style,<br> Button Buddy will create nicely structured button components for 5 states & 3 sizes.</blockquote>
        {% embed "@components/gradient-button/gradient-button.html.twig" with {
          tag: 'a',
          attributes: {
            href: "https://www.figma.com/community/plugin/891833918736503296/Button-Buddy",
          },
        } only %}
          {% block children %}
            Get the Plugin
            <svg class="u-margin-left-2xsmall" width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.01 28a4.005 4.005 0 004.007-4v-4H12.01a4.005 4.005 0 00-4.008 4c0 2.208 1.795 4 4.008 4z" stroke="#fff" stroke-width="2"/><path d="M8.002 16c0-2.208 1.795-4 4.008-4h4.007v8H12.01a4.005 4.005 0 01-4.008-4z" stroke="#fff" stroke-width="2"/><path d="M8.002 8c0-2.208 1.795-4 4.008-4h4.007v8H12.01a4.005 4.005 0 01-4.008-4z" stroke="#fff" stroke-width="2"/><path d="M16.017 4h4.008a4.005 4.005 0 014.008 4c0 2.208-1.795 4-4.008 4h-4.008V4z" stroke="#fff" stroke-width="2"/><path d="M24.033 16c0 2.208-1.795 4-4.008 4a4.005 4.005 0 01-4.008-4c0-2.208 1.796-4 4.008-4a4.005 4.005 0 014.008 4z" stroke="#fff" stroke-width="2"/></svg>
          {% endblock %}
        {% endembed %}
      </div>
      <div class="col col--lg-5 col--offset-lg-1 u-margin-top-2xlarge@md-down">
        <img src="img/ui.png" alt="plugin ui" srcset="img/ui@2x.png 2x" class="u-max-width-100% u-display-none@md-up">
        {% include "@components/ui-form/ui-form.html.twig" with { className: 'u-display-none@sm-down' } only %}
      </div>
    </div>
  </div>
</div>
