<div class="hero">
  <div class="container hero__container">
    <div class="row">
      <div class="col col--lg-7">
        <div class="hero__headline">Free</div>
        <h1 class="u-color-white u-margin-top-xsmall u-margin-bottom-large">Design<br>dev-ready<br>buttons, <span class="emphasized">in just seconds!</span></h1>
        <button class="button" disabled>
          Install the Plugin
          <svg class="u-margin-left-2xsmall" width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.01 28a4.005 4.005 0 004.007-4v-4H12.01a4.005 4.005 0 00-4.008 4c0 2.208 1.795 4 4.008 4z" stroke="#000" stroke-width="2.5"/><path d="M8.002 16c0-2.208 1.795-4 4.008-4h4.007v8H12.01a4.005 4.005 0 01-4.008-4z" stroke="#000" stroke-width="2.5"/><path d="M8.002 8c0-2.208 1.795-4 4.008-4h4.007v8H12.01a4.005 4.005 0 01-4.008-4z" stroke="#000" stroke-width="2.5"/><path d="M16.017 4h4.008a4.005 4.005 0 014.008 4c0 2.208-1.795 4-4.008 4h-4.008V4z" stroke="#000" stroke-width="2.5"/><path d="M24.033 16c0 2.208-1.795 4-4.008 4a4.005 4.005 0 01-4.008-4c0-2.208 1.796-4 4.008-4a4.005 4.005 0 014.008 4z" stroke="#000" stroke-width="2.5"/></svg>
        </button>
      </div>
      <div class="col col--lg-5 u-margin-top-2xlarge@md-down">
        {% include "@components/ui-form/ui-form.html.twig" %}
      </div>
    </div>
  </div>
</div>
