@import url('https://rsms.me/inter/inter.css');

*, *::before, *::after {
	box-sizing: border-box;
};

html {
	height: 100%;
}

body {
	font-family: 'Inter', sans-serif;
	background-color: #0E121B;
	height: 100%;
}

.menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style-type: none;
	padding: 24px 0px;
}

.hero {
	display: flex;
	height: 100%;
	padding-top: 64px;
	padding-bottom: 128px;
}

h1 {
	font-size: 4rem;
	font-weight: 700;
	line-height: 4.5rem;
	color: #ffffff;
}

p {
	font-size: 1.5rem;
	line-height: 2rem;
	color: #8091B2;
}

.emphasized {
	background: linear-gradient(270deg, #DB00FF 12.14%, #FF0099 60.19%, #FF8038 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.badge {
	display: inline-block;
	padding: 0.5rem 1.5rem 0.5rem;
	background: rgba(255, 0, 153, 0.2);
	border-radius: 50px;
	font-weight: 700;
	line-height: 2rem;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	color: #FF0099;
}

.primaryButton {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 12px 32px;
	cursor: pointer;
	background: #FFFFFF;
	font-weight: 600;
	font-size: 1.5rem;
	line-height: 2rem;
	border-radius: 50px;
	border: 4px solid #000000;
	box-shadow: -2px 2px 0px #FFFFFF;
	transition-property: box-shadow, transform;
	transition-duration: 200ms;
	text-decoration: none;
	color: #000000;
}

.disabled {
	opacity: .4;
	pointer-events: none;
}

.button-svg {
	margin-left: 4px;
}

.primaryButton:hover {
	box-shadow: 0px 0px 0px;
	transform: translate(-2px, 2px);
}

.link {
	font-size: 1.125rem;
	font-weight: 600;
	line-height: 1.75rem;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	text-decoration: none;
	color: #8091B2;
	transition-duration: 200ms;
	transition-property: color;
}

.link:hover {
  color: #FF0099;
}

.hero-img {
	max-width: 100%;
}

.left {
	width: calc(50% - 160px);
	padding-left: 160px;
	display: flex;
	align-items: center;
}

@media screen and (min-width: 992px) {
	.hero-right {
		text-align: right;
	}
}

@media screen and (max-width: 991px) {
	.hero-right {
		margin-top: 64px;
	}
}