.gradient-button {
  position: relative;
  z-index: 0;
  display: inline-block;

  &:hover {
    .gradient-button__bg {
      filter: blur(px-to-rem(10));
      transition: filter 0.2s ease-in;
    }
  }

  &__button {
    display: flex;
    padding: pad(xsmall) pad();
    border: 0;
    // stylelint-disable-next-line property-no-vendor-prefix
    -webkit-appearance: none;
    background-color: $color-black;
    border-radius: px-to-rem(50);
    color: $color-white;
    cursor: pointer;
    font-size: px-to-rem(24);
    font-weight: 700;
    line-height: px-to-rem(32);

    &:hover {
      color: $color-white;
      text-decoration: none;
    }
  }

  &__bg {
    $z-index: 0;
    position: absolute;
    z-index: $z-index - 1;
    top: 0;
    left: 0;
    width: calc(100% + #{px-to-rem(4)});
    height: calc(100% + #{px-to-rem(4)});
    animation: AnimateBorder 4s ease infinite;
    background-image: linear-gradient(90deg, #ff8038 0%, #f09 30.43%, #00ebeb 68.23%, #db00ff 100%);
    background-size: 600% 600%;
    border-radius: px-to-rem(50);
    // stylelint-disable-next-line property-no-vendor-prefix
    -webkit-transform: translate3d(px-to-rem(-2), px-to-rem(-2), 0);
    transform: translate3d(px-to-rem(-2), px-to-rem(-2), 0);
    transition: filter 1s ease-in;
  }
}

@keyframes AnimateBorder {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
